In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
import statsmodels.tools.eval_measures as smte
import statsmodels.formula.api as smfi

#scikit is an open source data analysis library, and the gold standard for Machine Learning
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

#### Import all datafiles

In [61]:
df_01_renewabel_share = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/01 renewable-share-energy.csv')
df_02_modern_renewable_consumption = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/02 modern-renewable-energy-consumption.csv')
df_03_modern_renewable_production = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/03 modern-renewable-prod.csv')
df_04_modern_renewable_consumption = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/04 share-electricity-renewables.csv')
df_05_hydropower_consumption = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/05 hydropower-consumption.csv')
df_09_cumulative_installed_wind_in_gigawatt = pd.read_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/09 cumulative-installed-wind-energy-capacity-gigawatts.csv')


# pd.read_csv(f'{path}/my_file.csv', index_col=0) # without new numerical index
# pd.read_csv(f'{path}/my_file.csv', usecols=['col_a', 'col_b', 'col_c']) # read specific columns only
# pd.read_csv(f'{path}/my_file.csv', names=['col1', 'col2', 'col3']) # change column names
# pd.read_csv(f'{path}/my_file.csv', skiprows=4]) # skip rows

#### Inspecting Files

In [ ]:
df_01_renewabel_share.nunique()

In [5]:
df_01_renewabel_share.head(1)

NameError: name 'df_01_renewabel_share' is not defined

In [ ]:
df_02_modern_renewable_consumption.head(1)

In [ ]:
df_02_modern_renewable_consumption.info()

In [ ]:
df_09_cumulative_installed_wind_in_gigawatt.head(100)

In [ ]:
pd.DataFrame(a).value_counts()

In [ ]:
# need this file in long format for stacked bar plot in tableau

df_02_modern_renewable_consumption.head(1)

In [ ]:
df_long = pd.melt(df_02_modern_renewable_consumption,
                    id_vars=['Entity', 'Code', 'Year'], # these will be kept as separate columns
                    value_vars=['Geo Biomass Other - TWh', 'Solar Generation - TWh', 'Wind Generation - TWh', 'Hydro Generation - TWh'], # these we are melting into one column
                    var_name = 'Category', # new name for the melted column
                    value_name='TwH') # new name for the column with melted values

In [ ]:
df_long

In [ ]:
df_long.to_csv(f'../data/df_02_modern_renewable_consumption_long_format.csv', index=False) # no header, do not save the index as a new column

In [ ]:
df_World_energy_consumption.info

In [6]:
df_World_energy_consumption = pd.read_csv(f'../../09_final_project/data/World Energy Consumption.csv')

In [ ]:
# all columns

[iso_code,ok
country,ok
year,1
coal_prod_change_pct,coal_prod_change_twh,
gas_prod_change_pct,gas_prod_change_twh,
oil_prod_change_pct,oil_prod_change_twh,
energy_cons_change_pct,energy_cons_change_twh,
biofuel_share_elec,1
biofuel_elec_per_capita,biofuel_cons_change_pct,
biofuel_share_energy,1
biofuel_cons_change_twh,
biofuel_consumption,
biofuel_cons_per_capita,
carbon_intensity_elec,
coal_share_elec,1
coal_cons_change_pct,
coal_share_energy,1
coal_cons_change_twh,1
coal_consumption,1
coal_elec_per_capita,coal_cons_per_capita,
coal_production,1
coal_prod_per_capita,
electricity_generation,1
biofuel_electricity,
coal_electricity,1
fossil_electricity,1
gas_electricity,1
hydro_electricity,1
nuclear_electricity,1
oil_electricity,1
other_renewable_electricity,
other_renewable_exc_biofuel_electricity,
renewables_electricity,1
solar_electricity,1
wind_electricity,1
energy_per_gdp,1
energy_per_capita,1
fossil_cons_change_pct,1
fossil_share_energy,1
fossil_cons_change_twh,
fossil_fuel_consumption,
fossil_energy_per_capita,1
fossil_cons_per_capita,
fossil_share_elec,
gas_share_elec,1
gas_cons_change_pct,
gas_share_energy,1
gas_cons_change_twh,
gas_consumption,1
gas_elec_per_capita,
gas_energy_per_capita,
gas_production,1
gas_prod_per_capita,
hydro_share_elec,
hydro_cons_change_pct,
hydro_share_energy,1
hydro_cons_change_twh,1
hydro_consumption,1
hydro_elec_per_capita,
hydro_energy_per_capita,
low_carbon_share_elec,
low_carbon_electricity,
low_carbon_elec_per_capita,
low_carbon_cons_change_pct,
low_carbon_share_energy,
low_carbon_cons_change_twh,
low_carbon_consumption,
low_carbon_energy_per_capita,
nuclear_share_elec,1
nuclear_cons_change_pct,
nuclear_share_energy,1
nuclear_cons_change_twh,1
nuclear_consumption,1
nuclear_elec_per_capita,
nuclear_energy_per_capita,
oil_share_elec,1
oil_cons_change_pct,
oil_share_energy,
oil_cons_change_twh,
oil_consumption,1
oil_elec_per_capita,
oil_energy_per_capita,
oil_production,oil_prod_per_capita,
other_renewables_elec_per_capita,
other_renewables_share_elec,
other_renewables_cons_change_pct,
other_renewables_share_energy,
other_renewables_cons_change_twh,
other_renewable_consumption,
other_renewables_energy_per_capita,
per_capita_electricity,1
population,
primary_energy_consumption,1
renewables_elec_per_capita,
renewables_share_elec,1
renewables_cons_change_pct,
renewables_share_energy,1
renewables_cons_change_twh,
renewables_consumption,1
renewables_energy_per_capita,
solar_share_elec,
solar_cons_change_pct,
solar_share_energy,
solar_cons_change_twh,
solar_consumption,1
solar_elec_per_capita,
solar_energy_per_capita,
gdp,1
wind_share_elec,1
wind_cons_change_pct,
wind_share_energy,
wind_cons_change_twh,
wind_consumption,1
wind_elec_per_capita,
wind_energy_per_capita]

In [8]:
# just interessinting columns
column_names = ['iso_code',
'country',
'year',
'biofuel_share_elec',
'biofuel_share_energy',
'coal_share_elec',
'coal_share_energy',
'coal_cons_change_twh',
'coal_production',
'electricity_generation',
'coal_electricity',
'fossil_electricity',
'gas_electricity',
'hydro_electricity',
'nuclear_electricity',
'oil_electricity',
'renewables_electricity',
'solar_electricity',
'wind_electricity',
'energy_per_gdp',
'energy_per_capita',
'fossil_cons_change_pct',
'fossil_share_energy',
'fossil_energy_per_capita',
'gas_share_elec',
'gas_share_energy',
'gas_production',
'hydro_share_energy',
'hydro_cons_change_twh',
'nuclear_share_elec',
'nuclear_share_energy',
'nuclear_cons_change_twh',
'oil_share_elec',
'per_capita_electricity',
'population',
'renewables_share_elec',
'renewables_share_energy',
'gdp',
'wind_share_elec',              
'coal_consumption',
'gas_consumption',               
'nuclear_consumption',
'oil_consumption',
'other_renewable_consumption',
'hydro_consumption',
'solar_consumption',
'wind_consumption',
'renewables_consumption',
'primary_energy_consumption',
'low_carbon_consumption'
               ]

In [10]:
df_World_energy_consumption

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,-25.013,-10.847,NaN,NaN,NaN,NaN,-0.789,...,0.579,NaN,2.503057e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17428,ZWE,Zimbabwe,2016,-37.694,-12.257,NaN,NaN,NaN,NaN,-14.633,...,0.641,NaN,2.515176e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17429,ZWE,Zimbabwe,2017,8.375,1.697,NaN,NaN,NaN,NaN,NaN,...,0.773,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17430,ZWE,Zimbabwe,2018,22.555,4.952,NaN,NaN,NaN,NaN,NaN,...,0.970,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17431,ZWE,Zimbabwe,2019,-35.015,-9.422,NaN,NaN,NaN,NaN,NaN,...,0.956,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [ ]:
df['sum_nuclear_oil'] = df['nuclear_consumption'].fillna(0) + df['oil_consumption'].fillna(0)

In [11]:
df_World_energy_consumption_selected2 = df_World_energy_consumption[column_names]

In [13]:
df_World_energy_consumption_selected2.head(1)

,iso_code,country,year,biofuel_share_elec,biofuel_share_energy,coal_share_elec,coal_share_energy,coal_cons_change_twh,coal_production,electricity_generation,...,gas_consumption,nuclear_consumption,oil_consumption,other_renewable_consumption,hydro_consumption,solar_consumption,wind_consumption,renewables_consumption,primary_energy_consumption,low_carbon_consumption
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_World_energy_consumption_selected2

C:\Users\User\AppData\Local\Temp\ipykernel_9888\4034455285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_World_energy_consumption_selected2['Fossile Energy Consumption+Nuclear'] = df_World_energy_consumption_selected2['coal_consumption'] + df_World_energy_consumption_selected2['gas_consumption'] + df_World_energy_consumption_selected2['oil_consumption'] + df_World_energy_consumption_selected2['nuclear_consumption']

In [14]:
# add calculated column: Fossile Energy Consumption

df_World_energy_consumption_selected2['Fossile Energy Consumption'] = df_World_energy_consumption_selected2['coal_consumption'] + df_World_energy_consumption_selected2['gas_consumption'] + df_World_energy_consumption_selected2['oil_consumption'] + df_World_energy_consumption_selected2['nuclear_consumption']

C:\Users\User\AppData\Local\Temp\ipykernel_10180\3066922799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_World_energy_consumption_selected2['Fossile Energy Consumption'] = df_World_energy_consumption_selected2['coal_consumption'] + df_World_energy_consumption_selected2['gas_consumption'] + df_World_energy_consumption_selected2['oil_consumption'] + df_World_energy_consumption_selected2['nuclear_consumption']

In [15]:
df_World_energy_consumption_selected2.columns

Index(['iso_code', 'country', 'year', 'biofuel_share_elec',
       'biofuel_share_energy', 'coal_share_elec', 'coal_share_energy',
       'coal_cons_change_twh', 'coal_production', 'electricity_generation',
       'coal_electricity', 'fossil_electricity', 'gas_electricity',
       'hydro_electricity', 'nuclear_electricity', 'oil_electricity',
       'renewables_electricity', 'solar_electricity', 'wind_electricity',
       'energy_per_gdp', 'energy_per_capita', 'fossil_cons_change_pct',
       'fossil_share_energy', 'fossil_energy_per_capita', 'gas_share_elec',
       'gas_share_energy', 'gas_production', 'hydro_share_energy',
       'hydro_cons_change_twh', 'nuclear_share_elec', 'nuclear_share_energy',
       'nuclear_cons_change_twh', 'oil_share_elec', 'per_capita_electricity',
       'population', 'renewables_share_elec', 'renewables_share_energy', 'gdp',
       'wind_share_elec', 'coal_consumption', 'gas_consumption',
       'nuclear_consumption', 'oil_consumption', 'other_renewable_consumption',
       'hydro_consumption', 'solar_consumption', 'wind_consumption',
       'renewables_consumption', 'primary_energy_consumption',
       'low_carbon_consumption', 'Fossile Energy Consumption'],
      dtype='object')

In [17]:
# add calculated column: Green Energy Consumption

df_World_energy_consumption_selected2['Green Energy Consumption'] = df_World_energy_consumption_selected2['hydro_consumption'] + df_World_energy_consumption_selected2['wind_consumption'] + df_World_energy_consumption_selected2['solar_consumption']+df_World_energy_consumption_selected2['other_renewable_consumption']

C:\Users\User\AppData\Local\Temp\ipykernel_10180\1373301701.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_World_energy_consumption_selected2['Green Energy Consumption'] = df_World_energy_consumption_selected2['hydro_consumption'] + df_World_energy_consumption_selected2['wind_consumption'] + df_World_energy_consumption_selected2['solar_consumption']+df_World_energy_consumption_selected2['other_renewable_consumption']

In [18]:
df_World_energy_consumption_selected2.columns

Index(['iso_code', 'country', 'year', 'biofuel_share_elec',
       'biofuel_share_energy', 'coal_share_elec', 'coal_share_energy',
       'coal_cons_change_twh', 'coal_production', 'electricity_generation',
       'coal_electricity', 'fossil_electricity', 'gas_electricity',
       'hydro_electricity', 'nuclear_electricity', 'oil_electricity',
       'renewables_electricity', 'solar_electricity', 'wind_electricity',
       'energy_per_gdp', 'energy_per_capita', 'fossil_cons_change_pct',
       'fossil_share_energy', 'fossil_energy_per_capita', 'gas_share_elec',
       'gas_share_energy', 'gas_production', 'hydro_share_energy',
       'hydro_cons_change_twh', 'nuclear_share_elec', 'nuclear_share_energy',
       'nuclear_cons_change_twh', 'oil_share_elec', 'per_capita_electricity',
       'population', 'renewables_share_elec', 'renewables_share_energy', 'gdp',
       'wind_share_elec', 'coal_consumption', 'gas_consumption',
       'nuclear_consumption', 'oil_consumption', 'other_renewable_consumption',
       'hydro_consumption', 'solar_consumption', 'wind_consumption',
       'renewables_consumption', 'primary_energy_consumption',
       'low_carbon_consumption', 'Fossile Energy Consumption',
       'Green Energy Consumption'],
      dtype='object')

In [19]:
# export for tableau usage

df_World_energy_consumption_selected2.to_csv(f'../../09_final_project/data/df_World_energy_consumption_selected_3.csv', index=False) # no header, do not save the index as a new column

In [71]:
# test with astype float

df_World_energy_consumption_selected2['wind_consumption'] = df_World_energy_consumption_selected2['wind_consumption'].astype('float')

C:\Users\User\AppData\Local\Temp\ipykernel_9888\3261434437.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_World_energy_consumption_selected2['wind_consumption'] = df_World_energy_consumption_selected2['wind_consumption'].astype('float')

In [73]:
# export for tableau usage

df_World_energy_consumption_selected2.to_csv(f'../../09_final_project/data/df_World_energy_consumption_selected_test.csv', index=False) # no header, do not save the index as a new column

In [72]:
df_World_energy_consumption_selected2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17432 entries, 0 to 17431
Data columns (total 50 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso_code                            15630 non-null  object
 1   country                             17432 non-null  object
 2   year                                17432 non-null  int64
 3   biofuel_share_elec                  4206 non-null   float64
 4   biofuel_share_energy                4284 non-null   float64
 5   coal_share_elec                     5056 non-null   float64
 6   coal_share_energy                   4284 non-null   float64
 7   coal_cons_change_twh                4207 non-null   float64
 8   coal_consumption                    5170 non-null   float64
 9   coal_production                     10629 non-null  float64
 10  electricity_generation              6119 non-null   float64
 11  coal_electricity                    5099 non-null   float64
 12  fossil_electricity                  5099 non-null   float64
 13  gas_electricity                     5099 non-null   float64
 14  hydro_electricity                   6119 non-null   float64
 15  nuclear_electricity                 6119 non-null   float64
 16  oil_electricity                     5099 non-null   float64
 17  renewables_electricity              6084 non-null   float64
 18  solar_electricity                   6119 non-null   float64
 19  wind_electricity                    6119 non-null   float64
 20  energy_per_gdp                      6900 non-null   float64
 21  energy_per_capita                   9035 non-null   float64
 22  fossil_cons_change_pct              4201 non-null   float64
 23  fossil_share_energy                 4284 non-null   float64
 24  fossil_energy_per_capita            4284 non-null   float64
 25  gas_share_elec                      5056 non-null   float64
 26  gas_share_energy                    4284 non-null   float64
 27  gas_consumption                     5170 non-null   float64
 28  gas_production                      8066 non-null   float64
 29  hydro_share_energy                  4284 non-null   float64
 30  hydro_cons_change_twh               4207 non-null   float64
 31  hydro_consumption                   4290 non-null   float64
 32  nuclear_share_elec                  6076 non-null   float64
 33  nuclear_share_energy                4284 non-null   float64
 34  nuclear_cons_change_twh             4207 non-null   float64
 35  nuclear_consumption                 4290 non-null   float64
 36  oil_share_elec                      5056 non-null   float64
 37  oil_consumption                     5184 non-null   float64
 38  per_capita_electricity              5499 non-null   float64
 39  population                          15676 non-null  float64
 40  primary_energy_consumption          10134 non-null  float64
 41  renewables_share_elec               6041 non-null   float64
 42  renewables_share_energy             4284 non-null   float64
 43  renewables_consumption              4290 non-null   float64
 44  solar_consumption                   4290 non-null   float64
 45  gdp                                 10456 non-null  float64
 46  wind_share_elec                     6076 non-null   float64
 47  wind_consumption                    4290 non-null   float64
 48  Fossile Energy Consumption+Nuclear  4284 non-null   float64
 49  Fossile Energy Consumption          5164 non-null   float64
dtypes: float64(47), int64(1), object(2)
memory usage: 6.6+ MB

In [63]:
# add calculated column: Fossile Energy Consumption

df_02_modern_renewable_consumption['Renewable Energy Consumption'] = df_02_modern_renewable_consumption['Geo Biomass Other - TWh'] + df_02_modern_renewable_consumption['Geo Biomass Other - TWh'] + df_02_modern_renewable_consumption['Geo Biomass Other - TWh'] + df_02_modern_renewable_consumption['Hydro Generation - TWh']

In [67]:
df_02_modern_renewable_consumption.columns

Index(['Entity', 'Code', 'Year', 'Geo Biomass Other - TWh',
       'Solar Generation - TWh', 'Wind Generation - TWh',
       'Hydro Generation - TWh', 'Renewable Energy Consumption'],
      dtype='object')

In [70]:
df_02_modern_renewable_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5610 entries, 0 to 5609
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Entity                        5610 non-null   object
 1   Code                          4299 non-null   object
 2   Year                          5610 non-null   int64
 3   Geo Biomass Other - TWh       5466 non-null   float64
 4   Solar Generation - TWh        5442 non-null   float64
 5   Wind Generation - TWh         5445 non-null   float64
 6   Hydro Generation - TWh        5603 non-null   float64
 7   Renewable Energy Consumption  5459 non-null   float64
dtypes: float64(5), int64(1), object(2)
memory usage: 350.8+ KB

In [65]:
# export for tableau usage

df_02_modern_renewable_consumption.to_csv(f'../../09_final_project/data/kaggle/ren_energy_worlwide_1965_2022/02_modern_renewable_consumption_adjusted.csv', index=False) # no header, do not save the index as a new column

### Manipulating Data -> Needs to be highlightet in final Presentation

In [21]:
# read a new file with correct total consumption data

yearly_full_release_long = pd.read_csv(f'../../09_final_project/data/ember-climate_org/yearly_full_release_long_format.csv')

In [22]:
yearly_full_release_long.columns

Index(['Area', 'Country code', 'Year', 'Area type', 'Continent',
       'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category',
       'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change',
       'YoY % change'],
      dtype='object')

In [34]:
yearly_full_release_long.head(5)

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN

In [59]:
yearly_full_release_long[yearly_full_release_long['Unit'] == 'TWh']
yearly_full_release_long_twh_filtered = yearly_full_release_long[yearly_full_release_long['Unit'] == 'TWh']

In [60]:
yearly_full_release_long_twh_filtered

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
15,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.57,NaN,NaN
23,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,TWh,0.31,NaN,NaN
24,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,TWh,0.16,NaN,NaN
25,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,TWh,0.16,NaN,NaN
26,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",TWh,0.31,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331890,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Other Renewables,TWh,0.00,0.00,NaN
331891,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Solar,TWh,0.04,0.01,33.33
331892,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Wind,TWh,0.00,0.00,NaN
331893,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,8.03,0.44,5.80
331894,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity imports,Electricity imports,Net Imports,TWh,1.75,-0.23,-11.62

In [75]:
# export for tableau usage

yearly_full_release_long_twh_filtered.to_csv(f'../../09_final_project/data/yearly_full_release_wide.csv', index=False) # no header, do not save the index as a new column

In [73]:
yearly_full_release_filtered_import = pd.read_csv(f'../../09_final_project/data/yearly_full_release_long_twh_filtered.csv')

In [74]:
yearly_full_release_filtered_import

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.57,NaN,NaN
1,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,TWh,0.31,NaN,NaN
2,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,TWh,0.16,NaN,NaN
3,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,TWh,0.16,NaN,NaN
4,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",TWh,0.31,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90608,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Other Renewables,TWh,0.00,0.00,NaN
90609,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Solar,TWh,0.04,0.01,33.33
90610,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Fuel,Wind,TWh,0.00,0.00,NaN
90611,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,8.03,0.44,5.80
90612,Zimbabwe,ZWE,2021,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Electricity imports,Electricity imports,Net Imports,TWh,1.75,-0.23,-11.62

In [76]:
# make a wide format - chat gpt

df_wide4 = pd.pivot_table(yearly_full_release_filtered_import,
                         index=['Area', 'Country code','Year'], # columns to be kept, will become multi-column index
                         columns='Variable', # column to pivot
                         values='Value') # column of values to pivot
df_wide4 = df_wide.reset_index()

In [77]:
df_wide4

Variable,index,Area,Country code,Year,Unit,Bioenergy,CO2 intensity,Clean,Coal,Demand,...,Net Imports,Nuclear,Other Fossil,Other Renewables,Renewables,Solar,Total Generation,Total emissions,Wind,Wind and Solar
0,0,Afghanistan,AFG,2000,%,0.00,NaN,65.96,0.00,NaN,...,NaN,0.0,34.04,0.0,65.96,0.00,NaN,NaN,0.0,0.00
1,1,Afghanistan,AFG,2000,GW,NaN,NaN,0.19,NaN,NaN,...,NaN,NaN,0.03,NaN,0.19,0.00,NaN,NaN,0.0,0.00
2,2,Afghanistan,AFG,2000,MWh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Afghanistan,AFG,2000,TWh,0.00,NaN,0.31,0.00,0.57,...,0.10,0.0,0.16,0.0,0.31,0.00,0.47,NaN,0.0,0.00
4,4,Afghanistan,AFG,2000,gCO2/kWh,NaN,255.32,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28520,28520,Zimbabwe,ZWE,2021,GW,0.10,NaN,1.21,0.95,NaN,...,NaN,NaN,0.01,NaN,1.21,0.03,NaN,NaN,NaN,0.03
28521,28521,Zimbabwe,ZWE,2021,MWh,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28522,28522,Zimbabwe,ZWE,2021,TWh,0.38,NaN,4.42,3.57,9.78,...,1.75,0.0,0.04,0.0,4.42,0.04,8.03,NaN,0.0,0.04
28523,28523,Zimbabwe,ZWE,2021,gCO2/kWh,NaN,392.28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28524,28524,Zimbabwe,ZWE,2021,mtCO2,0.09,NaN,0.19,2.93,NaN,...,NaN,0.0,0.03,0.0,0.19,0.00,NaN,3.15,0.0,0.00

In [78]:

yearly_full_release_long_twh_filtered = df_wide4[df_wide4['Unit'] == 'TWh']

In [79]:
yearly_full_release_long_twh_filtered

Variable,index,Area,Country code,Year,Unit,Bioenergy,CO2 intensity,Clean,Coal,Demand,...,Net Imports,Nuclear,Other Fossil,Other Renewables,Renewables,Solar,Total Generation,Total emissions,Wind,Wind and Solar
3,3,Afghanistan,AFG,2000,TWh,0.00,NaN,0.31,0.00,0.57,...,0.10,0.0,0.16,0.0,0.31,0.00,0.47,NaN,0.0,0.00
9,9,Afghanistan,AFG,2001,TWh,0.00,NaN,0.50,0.00,0.69,...,0.10,0.0,0.09,0.0,0.50,0.00,0.59,NaN,0.0,0.00
15,15,Afghanistan,AFG,2002,TWh,0.00,NaN,0.56,0.00,0.79,...,0.10,0.0,0.13,0.0,0.56,0.00,0.69,NaN,0.0,0.00
21,21,Afghanistan,AFG,2003,TWh,0.00,NaN,0.63,0.00,1.04,...,0.10,0.0,0.31,0.0,0.63,0.00,0.94,NaN,0.0,0.00
27,27,Afghanistan,AFG,2004,TWh,0.00,NaN,0.56,0.00,0.99,...,0.10,0.0,0.33,0.0,0.56,0.00,0.89,NaN,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28498,28498,Zimbabwe,ZWE,2017,TWh,0.32,NaN,4.30,3.02,9.57,...,2.22,0.0,0.03,0.0,4.30,0.01,7.35,NaN,0.0,0.01
28504,28504,Zimbabwe,ZWE,2018,TWh,0.39,NaN,5.46,3.69,10.21,...,1.02,0.0,0.04,0.0,5.46,0.02,9.19,NaN,0.0,0.02
28510,28510,Zimbabwe,ZWE,2019,TWh,0.38,NaN,4.58,3.62,9.35,...,1.11,0.0,0.04,0.0,4.58,0.03,8.24,NaN,0.0,0.03
28516,28516,Zimbabwe,ZWE,2020,TWh,0.35,NaN,4.19,3.36,9.57,...,1.98,0.0,0.04,0.0,4.19,0.03,7.59,NaN,0.0,0.03
28522,28522,Zimbabwe,ZWE,2021,TWh,0.38,NaN,4.42,3.57,9.78,...,1.75,0.0,0.04,0.0,4.42,0.04,8.03,NaN,0.0,0.04

In [83]:
yearly_full_release_long_twh_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4792 entries, 3 to 28522
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   index                                  4792 non-null   int64
 1   Area                                   4792 non-null   object
 2   Country code                           4792 non-null   object
 3   Year                                   4792 non-null   int64
 4   Unit                                   4792 non-null   object
 5   Bioenergy                              4663 non-null   float64
 6   CO2 intensity                          0 non-null      float64
 7   Clean                                  4792 non-null   float64
 8   Coal                                   4686 non-null   float64
 9   Demand                                 4792 non-null   float64
 10  Demand per capita                      0 non-null      float64
 11  Fossil                                 4792 non-null   float64
 12  Gas                                    4686 non-null   float64
 13  Gas and Other Fossil                   4792 non-null   float64
 14  Hydro                                  4707 non-null   float64
 15  Hydro, Bioenergy and Other Renewables  4792 non-null   float64
 16  Net Imports                            4792 non-null   float64
 17  Nuclear                                4621 non-null   float64
 18  Other Fossil                           4686 non-null   float64
 19  Other Renewables                       4559 non-null   float64
 20  Renewables                             4792 non-null   float64
 21  Solar                                  4761 non-null   float64
 22  Total Generation                       4792 non-null   float64
 23  Total emissions                        0 non-null      float64
 24  Wind                                   4752 non-null   float64
 25  Wind and Solar                         4792 non-null   float64
dtypes: float64(21), int64(2), object(3)
memory usage: 1010.8+ KB

In [81]:
# export for tableau usage

yearly_full_release_long_twh_filtered.to_csv(f'../../09_final_project/data/yearly_full_release_wide.csv', index=False) # no header, do not save the index as a new column

In [6]:
# !pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------ 250.0/250.0 kB 479.5 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.2.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
df_World_energy_consumption_selected_3_manipulate_with_excel_2 = pd.read_excel(f'../../09_final_project/data/df_World_energy_consumption_selected_3_manipulate_with_excel_2.xlsx')

In [12]:
df_World_energy_consumption_selected_3_manipulate_with_excel_2.columns

Index(['iso_code', 'country', 'year', 'biofuel_share_elec',
       'biofuel_share_energy', 'coal_share_elec', 'coal_share_energy',
       'coal_cons_change_twh', 'coal_production', 'electricity_generation',
       'coal_electricity', 'fossil_electricity', 'gas_electricity',
       'hydro_electricity', 'nuclear_electricity', 'oil_electricity',
       'renewables_electricity', 'solar_electricity', 'wind_electricity',
       'energy_per_gdp', 'energy_per_capita', 'fossil_cons_change_pct',
       'fossil_share_energy', 'fossil_energy_per_capita', 'gas_share_elec',
       'gas_share_energy', 'gas_production', 'hydro_share_energy',
       'hydro_cons_change_twh', 'nuclear_share_elec', 'nuclear_share_energy',
       'nuclear_cons_change_twh', 'oil_share_elec', 'per_capita_electricity',
       'population', 'renewables_share_elec', 'renewables_share_energy', 'gdp',
       'wind_share_elec', 'coal_consumption', 'coal_consumption_ember',
       'gas_consumption', 'gas_consumption_ember_climate',
       'nuclear_consumption', 'nuclear_consumption_ember_climate',
       'oil_consumption', 'oil_consumption__ember_climate',
       'other_renewable_consumption', 'hydro_consumption',
       'hydro_consumption_ember', 'solar_consumption',
       'solar_consumption_ember', 'wind_consumption', 'wind_consumption_ember',
       'primary_energy_consumption', 'low_carbon_consumption',
       'Fossile Energy Consumption',
       'Fossile Energy Consumption_ember_climate', 'Green Energy Consumption',
       'Green Energy Consumption_ember_climate', 'Total Consumption',
       'total consumption__ember_climate'],
      dtype='object')

In [13]:
df_World_energy_consumption_selected_3_manipulate_with_excel_2_long = pd.melt(df_World_energy_consumption_selected_3_manipulate_with_excel_2,
                    id_vars=['country', 'iso_code','year','population'], # these will be kept as separate columns
                    value_vars=['coal_consumption_ember', 'gas_consumption_ember_climate','nuclear_consumption_ember_climate','oil_consumption__ember_climate','hydro_consumption_ember', 'solar_consumption_ember', 'wind_consumption_ember','Fossile Energy Consumption_ember_climate','Green Energy Consumption_ember_climate','total consumption__ember_climate'], # these we are melting into one column
                    var_name = 'energy_category', # new name for the melted column
                    value_name='TwH') # new name for the column with melted values

In [14]:
df_World_energy_consumption_selected_3_manipulate_with_excel_2_long

,country,iso_code,year,population,energy_category,TwH
0,Afghanistan,AFG,1900,5021241.0,coal_consumption_ember,NaN
1,Afghanistan,AFG,1901,5053439.0,coal_consumption_ember,NaN
2,Afghanistan,AFG,1902,5085403.0,coal_consumption_ember,NaN
3,Afghanistan,AFG,1903,5118005.0,coal_consumption_ember,NaN
4,Afghanistan,AFG,1904,5150814.0,coal_consumption_ember,NaN
...,...,...,...,...,...,...
174315,Zimbabwe,ZWE,2015,13815000.0,total consumption__ember_climate,9.39
174316,Zimbabwe,ZWE,2016,14030000.0,total consumption__ember_climate,6.82
174317,Zimbabwe,ZWE,2017,14237000.0,total consumption__ember_climate,7.35
174318,Zimbabwe,ZWE,2018,14439000.0,total consumption__ember_climate,9.19
174319,Zimbabwe,ZWE,2019,14645000.0,total consumption__ember_climate,8.24

In [15]:
# export for tableau usage

df_World_energy_consumption_selected_3_manipulate_with_excel_2_long.to_csv(f'../../09_final_project/data/df_World_energy_consumption_selected_3_manipulate_with_excel_2_long.csv', index=False) # no header, do not save the index as a new column

In [ ]:
# from wide to long

df_long = pd.melt(df_World_energy_consumption_selected_3_manipulate_with_excel_2_long,
                    id_vars=['id_var_1', 'id_var_2', 'id_var_3'], # these will be kept as separate columns
                    value_vars=['num_var_1', 'num_var_2'], # these we are melting into one column
                    var_name = 'num_var_melted', # new name for the melted column
                    value_name='num_var_values') # new name for the column with melted values